
@{
    ViewBag.Title = "Çalışan İşlemleri";
}
@model Staffs

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">
                        Çalışan Ekle/Güncelle
                    </h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="post" enctype="multipart/form-data" action="">
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Ad Soyad</label>
                                <input class="form-control" placeholder="Çalışan Adı Soyadı" type="text" name="StaffName" id="StaffName" value="@if (Model!=null) { @Html.Raw(Model.StaffName)}" />
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Rol</label>
                                <input class="form-control" placeholder="Çalışan Rolü" type="text" name="StaffRole" id="StaffRole" value="@if (Model!=null) { @Html.Raw(Model.StaffRole)}" />
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Sıra Sayısı <span class="help"> -  Örn: "Sayı olarak 1"</span></label>
                                <input class="form-control" placeholder="Sıra Sayısı" type="text" name="StaffOrderNumber" id="StaffOrderNumber" value="@if (Model!=null) { @Html.Raw(Model.StaffOrderNumber)}" />
                                <small>UYARI: Bu alana mutlaka sayı girmelisiniz, aksi takdirde sorunla karşılaşabilirsiniz.</small>
                            </div>
                            @if (Model != null)
                            {
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Güncel Fotoğraf</label>
                                    <div class="input-group image-preview">
                                        <a href="#" class="thumbnail">
                                            <img src="@Model.StaffImageURL" width="400" />
                                        </a>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Çalışan Fotoğrafı</label>
                                <div class="input-group image-preview">
                                    <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                    <span class="input-group-btn">
                                        <div class="btn btn-default image-preview-input">
                                            <i class="fa fa-folder-open"></i>
                                            <i class="image-preview-input-title">Seçin</i>
                                            <input type="file" accept="image/png, image/jpeg, image/gif" name="StaffImageURL" /> <!-- rename it -->
                                        </div>
                                    </span>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-success mr-10">Kaydet</button>
                            @if (ViewBag.MessageFail != null)
                            {
                                <div class="alert alert-danger mt-25">@ViewBag.MessageFail</div>
                            }
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success mt-25">@ViewBag.Message</div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>