
@{
    ViewBag.Title = "Genel Site Ayarları";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">
                        Genel Site Ayarları
                    </h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="post" enctype="multipart/form-data" action="">
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Web Site Başlığı <span class="help"> -  Örn: "Restaurantım"</span></label>
                                <input type="text" class="form-control" name="WebSiteTitle" placeholder="Web Site Başlığınız" value="@Html.GetSettingValue("WebSiteTitle")">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Web Site Açıklaması</label>
                                <textarea type="text" class="form-control" rows="3" name="HomepageDescription" id="HomepageDescription" placeholder="Web Site Açıklamanız">@Html.GetSettingValue("HomepageDescription")</textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Web Site Logosu</label>
                                <div class="input-group image-preview">
                                    <input type="text" class="form-control image-preview-filename" data-toggle="popover" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                    <span class="input-group-btn">
                                        <!-- image-preview-clear button -->
                                        @*<button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <i class="fa fa-remove"></i> Sil
                    </button>*@
                                        <!-- image-preview-input -->
                                        <div class="btn btn-default image-preview-input">
                                            <i class="fa fa-folder-open"></i>
                                            <i class="image-preview-input-title">Seçin</i>
                                            <input type="file" accept="image/png, image/jpeg, image/gif" name="WebSiteLogoURL" /> <!-- rename it -->
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Web Site Favicon (.ico Uzantılı Olmalıdır)</label>
                                <div class="input-group image-preview">
                                    <input type="text" class="form-control image-preview-filename" data-toggle="popover" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                    <span class="input-group-btn">
                                        <!-- image-preview-clear button -->
                                        @*<button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <i class="fa fa-remove"></i> Sil
                    </button>*@
                                        <!-- image-preview-input -->
                                        <div class="btn btn-default image-preview-input">
                                            <i class="fa fa-folder-open"></i>
                                            <i class="image-preview-input-title">Seçin</i>
                                            <input type="file" accept="image/png, image/jpeg, image/gif,image/ico,image/x-icon" name="FaviconURL" /> <!-- rename it -->
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Meta Tag - Description</label>
                                <textarea type="text" class="form-control" rows="3" name="MetaNameDescription" id="MetaNameDescription" placeholder="Meta Tag Description Giriniz">@Html.GetSettingValue("MetaNameDescription")</textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Meta Tag - Keywords</label>
                                <textarea type="text" class="form-control" rows="3" name="MetaNameKeywords" id="MetaNameKeywords" placeholder="Meta Tag Keywords Giriniz">@Html.GetSettingValue("MetaNameKeywords")</textarea>
                            </div>
                            <button type="submit" class="btn btn-success mr-10">Kaydet</button>
                            @if (ViewBag.CallbackMessageFail != null)
    {
                        <div class="alert alert-danger mt-25">@ViewBag.CallbackMessageFail</div>
}
                            @if (ViewBag.CallbackMessage != null)
    {
                        <div class="alert alert-success mt-25">@ViewBag.CallbackMessage</div>
}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

