
@{
    ViewBag.Title = "Menü Ürünleri İşlemleri";
}
@model MenuFoods

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">
                        Menü Ürünü Ekle/Güncelle
                    </h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="post" enctype="multipart/form-data" action="">
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Başlık</label>
                                <input class="form-control" placeholder="Başlık" type="text" name="FoodTitle" id="FoodTitle" value="@if (Model!=null) { @Html.Raw(Model.FoodTitle)}" />
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Açıklama</label>
                                @Html.TextAreaFor(x => x.FoodDescription, new { @class = "form-control", @rows = 10 })
                                <small>Not: Bu alana menü ürününün açıklamasını HTML kodları da kullanarak girebilirsiniz.</small>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Fiyat Bilgisi <span class="help"> -  Örn: "Sadece sayıyla 20"</span></label>
                                <input class="form-control" placeholder="Fiyat Bilgisi" type="text" name="FoodPrice" id="FoodPrice" value="@if (Model!=null) { @Html.Raw(Model.FoodPrice)}" />
                                <small>UYARI: Bu alana mutlaka sayı girmelisiniz,aksi takdirde sorunla karşılaşabilirsiniz.</small>
                            </div>
                            @if (Model != null)
                            {
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Güncel Fotoğraf</label>
                                    <div class="input-group image-preview">
                                        <a href="#" class="thumbnail">
                                            <img src="@Model.FoodImageURL" width="400" />
                                        </a>
                                    </div>
                                </div>
                            }
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Menü Ürünü Fotoğrafı</label>
                                    <div class="input-group image-preview">
                                        <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                        <span class="input-group-btn">
                                            <div class="btn btn-default image-preview-input">
                                                <i class="fa fa-folder-open"></i>
                                                <i class="image-preview-input-title">Seçin</i>
                                                <input type="file" accept="image/png, image/jpeg, image/gif" name="FoodImageURL" /> <!-- rename it -->
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            <button type="submit" class="btn btn-success mr-10">Kaydet</button>
                            @if (ViewBag.MessageFail != null)
                            {
                                <div class="alert alert-danger mt-25">@ViewBag.MessageFail</div>
                            }
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success mt-25">@ViewBag.Message</div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>