<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@Html.GetSettingValue("WebSiteTitle")</title>
    <meta name="description" content="@Html.GetSettingValue("MetaNameDescription")" />
    <meta name="keywords" content="@Html.GetSettingValue("MetaNameKeywords")" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="@Html.GetSettingValue("FaviconURL")">
    <link rel="icon" href="@Html.GetSettingValue("FaviconURL")" type="image/x-icon">
    <link href="~/Content/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/bower_components/summernote/dist/summernote.css" />
    @*<script src="~/Content/bower_components/ckeditor/ckeditor.js"></script>*@
    <!-- Data table CSS -->
    <link href="~/Content/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-2-active pimary-color-gold">

        <!-- Top Menu Items -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="mobile-only-brand pull-left">
                <div class="nav-header pull-left">
                    <div class="logo-wrap">
                        <a href="/">
                            <img class="brand-img" src="/Content/img/logo.png" alt="brand" />
                            <span class="brand-text">Zibico CMS</span>
                        </a>
                    </div>
                </div>
                <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
                <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
                <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>

            </div>
            <div id="mobile_only_nav" class="mobile-only-nav pull-right">
                <ul class="nav navbar-right top-nav pull-right">
                    <li class="dropdown auth-drp">
                        <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="@Helpers.Info.ImageURL" alt="user_auth" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
                        <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                            <li>
                                <a href="/Profile/Index"><i class="zmdi zmdi-account-box"></i><span>Profil</span></a>
                            </li>
                            <li>
                                <a href="/Profile/Index"><i class="zmdi zmdi-settings"></i><span>Ayarlar</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/Login/Logout"><i class="zmdi zmdi-power"></i><span style="font-weight:bold">Çıkış</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /Top Menu Items -->
        <!-- Left Sidebar Menu -->
        <div class="fixed-sidebar-left">
            <ul class="nav navbar-nav side-nav nicescroll-bar">
                <li class="navigation-header">
                    <span>Ana Sayfa</span>
                    <i class="zmdi zmdi-more"></i>
                </li>
                <li>
                    <a href="/">
                        <div class="pull-left">
                            <i class="zmdi zmdi-landscape mr-20"></i>
                            <span class="right-nav-text">Özet</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/GeneralSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-settings mr-20"></i>
                            <span class="right-nav-text">Ayarlar</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li><hr class="light-grey-hr mb-10" /></li>
                <li class="navigation-header">
                    <span>Düzen/Tasarım</span>
                    <i class="zmdi zmdi-more"></i>
                </li>
                <li>
                    <a href="/Settings/AboutSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-info mr-20"></i>
                            <span class="right-nav-text">Hakkımızda</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/SocialMedias/Index">
                        <div class="pull-left">
                            <i class="zmdi zmdi-rss mr-20"></i>
                            <span class="right-nav-text">Sosyal Medya</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/CategorySettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-bookmark mr-20"></i>
                            <span class="right-nav-text">Kategori</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/MenuSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-view-array mr-20"></i>
                            <span class="right-nav-text">Menü</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/ShineProductSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-fire mr-20"></i>
                            <span class="right-nav-text">Öne Çıkan Ürün</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/StaffSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-accounts mr-20"></i>
                            <span class="right-nav-text">Çalışanlar</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/GallerySettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-collection-image mr-20"></i>
                            <span class="right-nav-text">Galeri</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/ReservationSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-bookmark mr-20"></i>
                            <span class="right-nav-text">Rezervasyon</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/BlogSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-blogger mr-20"></i>
                            <span class="right-nav-text">Blog</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/MapSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-map mr-20"></i>
                            <span class="right-nav-text">Harita</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/HourSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-time mr-20"></i>
                            <span class="right-nav-text">Mesai Saatleri</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/Settings/BackgroundSettings">
                        <div class="pull-left">
                            <i class="zmdi zmdi-image-alt mr-20"></i>
                            <span class="right-nav-text">Arkaplan Resimleri</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li><hr class="light-grey-hr mb-10" /></li>
                <li class="navigation-header">
                    <span>Listeler</span>
                    <i class="zmdi zmdi-more"></i>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#rez" class="collapsed" aria-expanded="false">
                        <div class="pull-left">
                            <i class="zmdi zmdi-email mr-20"></i>
                            <span class="right-nav-text">Rezervasyonlar</span>
                        </div>
                        <div class="pull-right">
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="rez" class="collapse collapse-level-1 two-col-list" aria-expanded="false">
                        <li>
                            <a href="/Reservations/Index">Tüm Rezervasyonlar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#cat" class="collapsed" aria-expanded="false">
                        <div class="pull-left">
                            <i class="zmdi zmdi-tag mr-20"></i>
                            <span class="right-nav-text">Kategoriler</span>
                        </div>
                        <div class="pull-right">
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="cat" class="collapse collapse-level-1 two-col-list" aria-expanded="false">
                        <li>
                            <a href="/Categories/Index">Ürün Kategorileri</a>
                        </li>
                        <li>
                            <a href="/Categories/Create">Kategori Ekle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#products" class="collapsed" aria-expanded="false">
                        <div class="pull-left">
                            <i class="zmdi zmdi-pizza mr-20"></i>
                            <span class="right-nav-text">Ürünler</span>
                        </div>
                        <div class="pull-right">
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="products" class="collapse collapse-level-1 two-col-list" aria-expanded="false">
                        <li>
                            <a href="/Products/Index">Ürünler</a>
                        </li>
                        <li>
                            <a href="/Products/Create">Ürün Ekle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#staffs" class="collapsed" aria-expanded="false">
                        <div class="pull-left">
                            <i class="zmdi zmdi-accounts mr-20"></i>
                            <span class="right-nav-text">Çalışanlar</span>
                        </div>
                        <div class="pull-right">
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="staffs" class="collapse collapse-level-1 two-col-list" aria-expanded="false">
                        <li>
                            <a href="/Staffs/Index">Çalışanlar</a>
                        </li>
                        <li>
                            <a href="/Staffs/Create">Çalışan Ekle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#menufoods" class="collapsed" aria-expanded="false">
                        <div class="pull-left">
                            <i class="zmdi zmdi-receipt mr-20"></i>
                            <span class="right-nav-text">Menü Ürünleri</span>
                        </div>
                        <div class="pull-right">
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="menufoods" class="collapse collapse-level-1 two-col-list" aria-expanded="false">
                        <li>
                            <a href="/Menu/Index">Menü Ürünleri</a>
                        </li>
                        <li>
                            <a href="/Menu/Create">Ürün Ekle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#galleries" class="collapsed" aria-expanded="false">
                        <div class="pull-left">
                            <i class="zmdi zmdi-collection-image mr-20"></i>
                            <span class="right-nav-text">Galeri</span>
                        </div>
                        <div class="pull-right">
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="galleries" class="collapse collapse-level-1 two-col-list" aria-expanded="false">
                        <li>
                            <a href="/Galleries/Index">Fotoğraflar</a>
                        </li>
                        <li>
                            <a href="/Galleries/Create">Fotoğraf Ekle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#blogs" class="collapsed" aria-expanded="false">
                        <div class="pull-left">
                            <i class="zmdi zmdi-laptop-chromebook mr-20"></i>
                            <span class="right-nav-text">Blog</span>
                        </div>
                        <div class="pull-right">
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="blogs" class="collapse collapse-level-1 two-col-list" aria-expanded="false">
                        <li>
                            <a href="/Blogs/Index">Blog Yazıları</a>
                        </li>
                        <li>
                            <a href="/Blogs/Create">Blog Ekle</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#announcements" class="collapsed" aria-expanded="false">
                        <div class="pull-left">
                            <i class="zmdi zmdi-comment-alert mr-20"></i>
                            <span class="right-nav-text">Duyuru</span>
                        </div>
                        <div class="pull-right">
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="announcements" class="collapse collapse-level-1 two-col-list" aria-expanded="false">
                        <li>
                            <a href="/Announcements/Index">Duyurular</a>
                        </li>
                        <li>
                            <a href="/Announcements/Create">Duyuru Ekle</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /Left Sidebar Menu -->
        <!-- Right Sidebar Menu -->
        <div class="fixed-sidebar-right">
            <ul class="right-sidebar">
                <li>
                    <div class="tab-struct custom-tab-1">
                        <ul role="tablist" class="nav nav-tabs" id="right_sidebar_tab">
                            <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" role="tab" id="chat_tab_btn" href="#chat_tab">chat</a></li>
                            <li role="presentation" class=""><a data-toggle="tab" id="messages_tab_btn" role="tab" href="#messages_tab" aria-expanded="false">messages</a></li>
                            <li role="presentation" class=""><a data-toggle="tab" id="todo_tab_btn" role="tab" href="#todo_tab" aria-expanded="false">todo</a></li>
                        </ul>
                        <div class="tab-content" id="right_sidebar_content">
                            <div id="chat_tab" class="tab-pane fade active in" role="tabpanel">
                                <div class="chat-cmplt-wrap">
                                    <div class="chat-box-wrap">
                                        <div class="add-friend">
                                            <a href="javascript:void(0)" class="inline-block txt-grey">
                                                <i class="zmdi zmdi-more"></i>
                                            </a>
                                            <span class="inline-block txt-dark">users</span>
                                            <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <form role="search" class="chat-search pl-15 pr-15 pb-15">
                                            <div class="input-group">
                                                <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Arama yapın...">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn  btn-default"><i class="zmdi zmdi-search"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                        <div id="chat_list_scroll">
                                            <div class="nicescroll-bar">
                                                <ul class="chat-list-wrap">
                                                    <li class="chat-list">
                                                        <div class="chat-body">
                                                            <a href="javascript:void(0)">
                                                                <div class="chat-data">
                                                                    <img class="user-img img-circle" src="/Content/img/user.png" alt="user" />
                                                                    <div class="user-data">
                                                                        <span class="name block capitalize-font">Clay Masse</span>
                                                                        <span class="time block truncate txt-grey">No one saves us but ourselves.</span>
                                                                    </div>
                                                                    <div class="status away"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <div class="chat-data">
                                                                    <img class="user-img img-circle" src="/Content/img/user1.png" alt="user" />
                                                                    <div class="user-data">
                                                                        <span class="name block capitalize-font">Evie Ono</span>
                                                                        <span class="time block truncate txt-grey">Unity is strength</span>
                                                                    </div>
                                                                    <div class="status offline"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <div class="chat-data">
                                                                    <img class="user-img img-circle" src="/Content/img/user2.png" alt="user" />
                                                                    <div class="user-data">
                                                                        <span class="name block capitalize-font">Madalyn Rascon</span>
                                                                        <span class="time block truncate txt-grey">Respect yourself if you would have others respect you.</span>
                                                                    </div>
                                                                    <div class="status online"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <div class="chat-data">
                                                                    <img class="user-img img-circle" src="/Content/img/user3.png" alt="user" />
                                                                    <div class="user-data">
                                                                        <span class="name block capitalize-font">Mitsuko Heid</span>
                                                                        <span class="time block truncate txt-grey">I’m thankful.</span>
                                                                    </div>
                                                                    <div class="status online"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <div class="chat-data">
                                                                    <img class="user-img img-circle" src="/Content/img/user.png" alt="user" />
                                                                    <div class="user-data">
                                                                        <span class="name block capitalize-font">Ezequiel Merideth</span>
                                                                        <span class="time block truncate txt-grey">Patience is bitter.</span>
                                                                    </div>
                                                                    <div class="status offline"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <div class="chat-data">
                                                                    <img class="user-img img-circle" src="/Content/img/user1.png" alt="user" />
                                                                    <div class="user-data">
                                                                        <span class="name block capitalize-font">Jonnie Metoyer</span>
                                                                        <span class="time block truncate txt-grey">Genius is eternal patience.</span>
                                                                    </div>
                                                                    <div class="status online"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <div class="chat-data">
                                                                    <img class="user-img img-circle" src="/Content/img/user2.png" alt="user" />
                                                                    <div class="user-data">
                                                                        <span class="name block capitalize-font">Angelic Lauver</span>
                                                                        <span class="time block truncate txt-grey">Every burden is a blessing.</span>
                                                                    </div>
                                                                    <div class="status away"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <div class="chat-data">
                                                                    <img class="user-img img-circle" src="/Content/img/user3.png" alt="user" />
                                                                    <div class="user-data">
                                                                        <span class="name block capitalize-font">Priscila Shy</span>
                                                                        <span class="time block truncate txt-grey">Wise to resolve, and patient to perform.</span>
                                                                    </div>
                                                                    <div class="status online"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <div class="chat-data">
                                                                    <img class="user-img img-circle" src="/Content/img/user4.png" alt="user" />
                                                                    <div class="user-data">
                                                                        <span class="name block capitalize-font">Linda Stack</span>
                                                                        <span class="time block truncate txt-grey">Our patience will achieve more than our force.</span>
                                                                    </div>
                                                                    <div class="status away"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="recent-chat-box-wrap">
                                        <div class="recent-chat-wrap">
                                            <div class="panel-heading ma-0">
                                                <div class="goto-back">
                                                    <a id="goto_back" href="javascript:void(0)" class="inline-block txt-grey">
                                                        <i class="zmdi zmdi-chevron-left"></i>
                                                    </a>
                                                    <span class="inline-block txt-dark">ryan</span>
                                                    <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-more"></i></a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="panel-wrapper collapse in">
                                                <div class="panel-body pa-0">
                                                    <div class="chat-content">
                                                        <ul class="nicescroll-bar pt-20">
                                                            <li class="friend">
                                                                <div class="friend-msg-wrap">
                                                                    <img class="user-img img-circle block pull-left" src="/Content/img/user.png" alt="user" />
                                                                    <div class="msg pull-left">
                                                                        <p>Hello Jason, how are you, it's been a long time since we last met?</p>
                                                                        <div class="msg-per-detail text-right">
                                                                            <span class="msg-time txt-grey">2:30 PM</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </li>
                                                            <li class="self mb-10">
                                                                <div class="self-msg-wrap">
                                                                    <div class="msg block pull-right">
                                                                        Oh, hi Sarah I'm have got a new job now and is going great.
                                                                        <div class="msg-per-detail text-right">
                                                                            <span class="msg-time txt-grey">2:31 pm</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </li>
                                                            <li class="self">
                                                                <div class="self-msg-wrap">
                                                                    <div class="msg block pull-right">
                                                                        How about you?
                                                                        <div class="msg-per-detail text-right">
                                                                            <span class="msg-time txt-grey">2:31 pm</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </li>
                                                            <li class="friend">
                                                                <div class="friend-msg-wrap">
                                                                    <img class="user-img img-circle block pull-left" src="/Content/img/user.png" alt="user" />
                                                                    <div class="msg pull-left">
                                                                        <p>Not too bad.</p>
                                                                        <div class="msg-per-detail  text-right">
                                                                            <span class="msg-time txt-grey">2:35 pm</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="text" id="input_msg_send" name="send-msg" class="input-msg-send form-control" placeholder="Type something">
                                                        <div class="input-group-btn emojis">
                                                            <div class="dropup">
                                                                <button type="button" class="btn  btn-default  dropdown-toggle" data-toggle="dropdown"><i class="zmdi zmdi-mood"></i></button>
                                                                <ul class="dropdown-menu dropdown-menu-right">
                                                                    <li><a href="javascript:void(0)">Action</a></li>
                                                                    <li><a href="javascript:void(0)">Another action</a></li>
                                                                    <li class="divider"></li>
                                                                    <li><a href="javascript:void(0)">Separated link</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="input-group-btn attachment">
                                                            <div class="fileupload btn  btn-default">
                                                                <i class="zmdi zmdi-attachment-alt"></i>
                                                                <input type="file" class="upload">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="messages_tab" class="tab-pane fade" role="tabpanel">
                                <div class="message-box-wrap">
                                    <div class="msg-search">
                                        <a href="javascript:void(0)" class="inline-block txt-grey">
                                            <i class="zmdi zmdi-more"></i>
                                        </a>
                                        <span class="inline-block txt-dark">messages</span>
                                        <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-search"></i></a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="set-height-wrap">
                                        <div class="streamline message-box nicescroll-bar">
                                            <a href="javascript:void(0)">
                                                <div class="sl-item unread-message">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="/Content/img/user.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <span class="inline-block capitalize-font   pull-left message-per">Clay Masse</span>
                                                        <span class="inline-block font-11  pull-right message-time">12:28 AM</span>
                                                        <div class="clearfix"></div>
                                                        <span class=" truncate message-subject">Themeforest message sent via your envato market profile</span>
                                                        <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsu messm quia dolor sit amet, consectetur, adipisci velit</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)">
                                                <div class="sl-item">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="/Content/img/user1.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <span class="inline-block capitalize-font   pull-left message-per">Evie Ono</span>
                                                        <span class="inline-block font-11  pull-right message-time">1 Feb</span>
                                                        <div class="clearfix"></div>
                                                        <span class=" truncate message-subject">Pogody theme support</span>
                                                        <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)">
                                                <div class="sl-item">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="/Content/img/user2.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <span class="inline-block capitalize-font   pull-left message-per">Madalyn Rascon</span>
                                                        <span class="inline-block font-11  pull-right message-time">31 Jan</span>
                                                        <div class="clearfix"></div>
                                                        <span class=" truncate message-subject">Congratulations from design nominees</span>
                                                        <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)">
                                                <div class="sl-item unread-message">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="/Content/img/user3.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <span class="inline-block capitalize-font   pull-left message-per">Ezequiel Merideth</span>
                                                        <span class="inline-block font-11  pull-right message-time">29 Jan</span>
                                                        <div class="clearfix"></div>
                                                        <span class=" truncate message-subject">Themeforest item support message</span>
                                                        <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)">
                                                <div class="sl-item unread-message">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="/Content/img/user4.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <span class="inline-block capitalize-font   pull-left message-per">Jonnie Metoyer</span>
                                                        <span class="inline-block font-11  pull-right message-time">27 Jan</span>
                                                        <div class="clearfix"></div>
                                                        <span class=" truncate message-subject">Help with beavis contact form</span>
                                                        <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)">
                                                <div class="sl-item">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="/Content/img/user.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <span class="inline-block capitalize-font   pull-left message-per">Priscila Shy</span>
                                                        <span class="inline-block font-11  pull-right message-time">19 Jan</span>
                                                        <div class="clearfix"></div>
                                                        <span class=" truncate message-subject">Your uploaded theme is been selected</span>
                                                        <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)">
                                                <div class="sl-item">
                                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                        <img class="img-responsive img-circle" src="/Content/img/user1.png" alt="avatar" />
                                                    </div>
                                                    <div class="sl-content">
                                                        <span class="inline-block capitalize-font   pull-left message-per">Linda Stack</span>
                                                        <span class="inline-block font-11  pull-right message-time">13 Jan</span>
                                                        <div class="clearfix"></div>
                                                        <span class=" truncate message-subject"> A new rating has been received</span>
                                                        <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="todo_tab" class="tab-pane fade" role="tabpanel">
                                <div class="todo-box-wrap">
                                    <div class="add-todo">
                                        <a href="javascript:void(0)" class="inline-block txt-grey">
                                            <i class="zmdi zmdi-more"></i>
                                        </a>
                                        <span class="inline-block txt-dark">todo list</span>
                                        <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="set-height-wrap">
                                        <!-- Todo-List -->
                                        <ul class="todo-list nicescroll-bar">
                                            <li class="todo-item">
                                                <div class="checkbox checkbox-default">
                                                    <input type="checkbox" id="checkbox01" />
                                                    <label for="checkbox01">Record The First Episode</label>
                                                </div>
                                            </li>
                                            <li>
                                                <hr class="light-grey-hr" />
                                            </li>
                                            <li class="todo-item">
                                                <div class="checkbox checkbox-pink">
                                                    <input type="checkbox" id="checkbox02" />
                                                    <label for="checkbox02">Prepare The Conference Schedule</label>
                                                </div>
                                            </li>
                                            <li>
                                                <hr class="light-grey-hr" />
                                            </li>
                                            <li class="todo-item">
                                                <div class="checkbox checkbox-warning">
                                                    <input type="checkbox" id="checkbox03" checked />
                                                    <label for="checkbox03">Decide The Live Discussion Time</label>
                                                </div>
                                            </li>
                                            <li>
                                                <hr class="light-grey-hr" />
                                            </li>
                                            <li class="todo-item">
                                                <div class="checkbox checkbox-success">
                                                    <input type="checkbox" id="checkbox04" checked />
                                                    <label for="checkbox04">Prepare For The Next Project</label>
                                                </div>
                                            </li>
                                            <li>
                                                <hr class="light-grey-hr" />
                                            </li>
                                            <li class="todo-item">
                                                <div class="checkbox checkbox-danger">
                                                    <input type="checkbox" id="checkbox05" checked />
                                                    <label for="checkbox05">Finish Up AngularJs Tutorial</label>
                                                </div>
                                            </li>
                                            <li>
                                                <hr class="light-grey-hr" />
                                            </li>
                                            <li class="todo-item">
                                                <div class="checkbox checkbox-purple">
                                                    <input type="checkbox" id="checkbox06" checked />
                                                    <label for="checkbox06">Finish Infinity Project</label>
                                                </div>
                                            </li>
                                            <li>
                                                <hr class="light-grey-hr" />
                                            </li>
                                        </ul>
                                        <!-- /Todo-List -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /Right Sidebar Menu -->
        <!-- Right Sidebar Backdrop -->
        <div class="right-sidebar-backdrop"></div>
        <!-- /Right Sidebar Backdrop -->
        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container-fluid">

                <!-- Title -->
                <div class="row heading-bg">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h5 class="txt-dark">@ViewBag.Title</h5>
                    </div>
                </div>
                <!-- /Title -->
                @RenderBody()

                <!-- Footer -->
                <footer class="footer container-fluid pl-30 pr-30">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>2017 &copy; Zibico CMS</p>
                        </div>
                    </div>
                </footer>
                <!-- /Footer -->
            </div>
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /#wrapper -->

    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <script src="~/Content/js/dropdown-bootstrap-extended.js"></script>
    <script src="~/Content/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/dataTables-data.js"></script>
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/Content/bower_components/switchery/dist/switchery.min.js"></script>
    <script src="~/Content/bower_components/summernote/dist/summernote.min.js"></script>
    <script src="~/Content/js/dropdown-bootstrap-extended.js"></script>
    <script src="~/Content/js/init.js"></script>
    <script src="~/Content/js/summerInit.js"></script>
    <script>
        /* TEMP AND IP*/
        $(document).ready(function () {
            $.get("http://ip-api.com/json", function (data) {
                var city = data.city;

                $.get("https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22" + city + "%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys", function (respData) {
                    var temp = respData.query.results.channel.item.condition.temp;
                    $("#tempratureSpan").prepend(((parseInt(temp) - 32) / 1.8).toFixed(1));
                    $("#citySpan").prepend(respData.query.results.channel.location.city);
                    $("#yahooSpan").attr("src", respData.query.results.channel.image.url);
                });
            });
        })

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            summerInit();
        });
    </script>
</body>
</html>